h1 {
  font-size: 60px;
  font-family: 'Noto Serif', serif;
  font-weight: bolder;
  color:#382925;
  margin:10px;
}

h5, h3, .bold-output-text {
  font-size: 20px;
  font-family: 'Noto Serif', serif;
  color:#382925;
  padding-bottom:17px;
}

body {
  padding-left: 10px;
  background-color: #8e8c8b;
  font-size: 29px;
  background-image: url("http://villa-ruthenberg.de/WebRoot/Store27/Shops/10233e7a-3fa9-4d1e-8ae0-73cc0980bd46/597B/3721/37CE/9AE6/FFF7/0A48/3670/157D/PizzaCasa_ml.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.pizzaOrderName {
  cursor: pointer;
  color: #5d6b3e;
}

.pizzaOrderName:hover {
  text-decoration: underline;
  color: #41492d;
}

#h1Banner {
  margin:20px;
  padding:10px;
}

img {
  height:120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label, .font-label, .output-text, .pizzaOrderName {
 font-family: 'Playfair Display', serif;
 margin: 10px;
 font-size: 29px;
}

.input-text, .btn-style  {
  font-family: 'IBM Plex Serif', serif;
  font-size: 29px;
}

.btn {
  padding: 14px 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3d5432;
  font-size: 22px;
}


#order-output {
  display: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#output-styling {
  background-color: #f9ba25;
  color: #3d5432;
  border-radius: 10px;
  border:3px solid #846e1a;
  position:relative;
  padding: 14px 24px;
  margin:0;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display:flex;
  justify-content:center;
  display:inline-block;
  text-align:center;
  width:350px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  &:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    z-index:-2;
  }
}
